<plugin name='eliot-notes-plugin' version='2.0.4-CF-SNAPSHOT' grailsVersion='2.0.3 &gt; *'>
  <author>Franck Silvestre - Fylab</author>
  <title>Eliot Notes  Plugin</title>
  <description>Plugin contenant les services métiers relatifs à la gestion des notes"
</description>
  <type>EliotNotesPluginGrailsPlugin</type>
  <resources>
    <resource>org.lilie.services.eliot.tice.notes.AppreciationClasseEnseignementPeriode</resource>
    <resource>org.lilie.services.eliot.tice.notes.AppreciationEleveEnseignementPeriode</resource>
    <resource>org.lilie.services.eliot.tice.notes.AppreciationElevePeriode</resource>
    <resource>org.lilie.services.eliot.tice.notes.AvisConseilDeClasse</resource>
    <resource>org.lilie.services.eliot.tice.notes.AvisOrientation</resource>
    <resource>org.lilie.services.eliot.tice.notes.DernierChangementDansClasse</resource>
    <resource>org.lilie.services.eliot.tice.notes.DirtyMoyenne</resource>
    <resource>org.lilie.services.eliot.tice.notes.Evaluation</resource>
    <resource>org.lilie.services.eliot.tice.notes.InfoCalculMoyennesClasse</resource>
    <resource>org.lilie.services.eliot.tice.notes.ModeleAppreciation</resource>
    <resource>org.lilie.services.eliot.tice.notes.ModeleAppreciationProfesseur</resource>
    <resource>org.lilie.services.eliot.tice.notes.Note</resource>
    <resource>org.lilie.services.eliot.tice.notes.ResultatClasseEnseignementPeriode</resource>
    <resource>org.lilie.services.eliot.tice.notes.ResultatClassePeriode</resource>
    <resource>org.lilie.services.eliot.tice.notes.ResultatClasseServicePeriode</resource>
    <resource>org.lilie.services.eliot.tice.notes.ResultatClasseSousServicePeriode</resource>
    <resource>org.lilie.services.eliot.tice.notes.ResultatEleveEnseignementPeriode</resource>
    <resource>org.lilie.services.eliot.tice.notes.ResultatElevePeriode</resource>
    <resource>org.lilie.services.eliot.tice.notes.ResultatEleveServicePeriode</resource>
    <resource>org.lilie.services.eliot.tice.notes.ResultatEleveSousServicePeriode</resource>
    <resource>org.lilie.services.eliot.tice.notes.TypeAppreciationEnum</resource>
    <resource>org.lilie.services.eliot.tice.notes.TypeMoyenneEnum</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='http://repository-ticetime.forge.cloudbees.com/release' url='http://repository-ticetime.forge.cloudbees.com/release/' />
    <repository name='http://repository-ticetime.forge.cloudbees.com/snapshot' url='http://repository-ticetime.forge.cloudbees.com/snapshot/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
    <repository name='http://maven.springframework.org/milestone' url='http://maven.springframework.org/milestone/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='org.codehaus.groovy.modules.http-builder' name='http-builder' version='0.5.2' />
      <dependency group='net.sourceforge.saxon' name='saxon' version='9.1.0.8' />
      <dependency group='org.apache.maven.wagon' name='wagon-webdav' version='1.0-beta-2' />
    </compile>
    <runtime>
      <dependency group='postgresql' name='postgresql' version='9.1-901.jdbc4' />
    </runtime>
    <build>
      <dependency group='net.sourceforge.saxon' name='saxon' version='9.1.0.8' />
      <dependency group='net.sf.saxon' name='saxon-dom' version='8.7' />
    </build>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='hibernate' version='2.0.3' />
      <plugin group='org.grails.plugins' name='jquery' version='1.7.1' />
      <plugin group='org.grails.plugins' name='spring-security-core' version='1.2.7.2' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.6' />
      <plugin group='org.grails.plugins' name='gmetrics' version='0.3.1' />
      <plugin group='org.grails.plugins' name='jquery-ui' version='1.8.15' />
      <plugin group='org.grails.plugins' name='cloud-foundry' version='1.2.2' />
      <plugin group='org.grails.plugins' name='mail' version='1.0' />
      <plugin group='org.grails.plugins' name='codenarc' version='0.15' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='modernizr' version='2.0.6' />
      <plugin group='org.grails.plugins' name='svn' version='1.0.1' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='release' version='2.0.2' />
      <plugin group='org.grails.plugins' name='tomcat' version='2.0.3' />
      <plugin group='org.grails.plugins' name='rest-client-builder' version='1.0.2' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>