<plugin name='spring-security-cas' version='1.0.2' grailsVersion='2.0.1 &gt; *'>
  <author>Burt Beckwith</author>
  <authorEmail>beckwithb@vmware.com</authorEmail>
  <title>Jasig CAS support for the Spring Security plugin.</title>
  <description>Jasig CAS support for the Spring Security plugin.</description>
  <documentation>http://grails.org/plugin/spring-security-cas</documentation>
  <type>SpringSecurityCasGrailsPlugin</type>
  <resources>
    <resource>DefaultCasSecurityConfig</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='http://www.ticetime.com/nexus/content/repositories/snapshots/' url='http://www.ticetime.com/nexus/content/repositories/snapshots/' />
    <repository name='ebrRelease' url='http://repository.springsource.com/maven/bundles/release/' />
    <repository name='ebrExternal' url='http://repository.springsource.com/maven/bundles/external/' />
    <repository name='http://www.ticetime.com/nexus/content/repositories/releases/' url='http://www.ticetime.com/nexus/content/repositories/releases/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='net.sourceforge.saxon' name='saxon' version='9.1.0.8' />
    </compile>
    <runtime>
      <dependency group='postgresql' name='postgresql' version='8.4-702.jdbc4' />
    </runtime>
    <build>
      <dependency group='net.sf.saxon' name='saxon-dom' version='8.7' />
      <dependency group='net.sourceforge.saxon' name='saxon' version='9.1.0.8' />
    </build>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='hibernate' version='2.0.1' />
      <plugin group='org.grails.plugins' name='jquery' version='1.7.1' />
      <plugin group='org.grails.plugins' name='mail' version='1.0' />
      <plugin group='org.grails.plugins' name='codenarc' version='0.15' />
      <plugin group='org.grails.plugins' name='gmetrics' version='0.3.1' />
      <plugin group='org.grails.plugins' name='jquery-ui' version='1.8.15' />
      <plugin group='org.grails.plugins' name='resources' version='1.1.5' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='modernizr' version='2.0.6' />
      <plugin group='org.grails.plugins' name='svn' version='1.0.1' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.0.1' />
      <plugin group='org.grails.plugins' name='release' version='1.0.0' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>