/* CSS Document */

body {
	margin: 0;
	padding: 0;
	color: #333;
	width:100%;
	background:transparent url('portal/images/laf_ent/fdblocs.gif') repeat-x 0 0;
	text-align: center;
}


#bloc {
	position: relative;
}


/**** Bdx Haut ****/
#bdxHaut {
    position: relative;
	height:92px;
	width:100%;
	background:transparent url('portal/images/laf_ent/fdbdxhaut.gif') no-repeat center top;
	text-align:center;
}

#logoEtablissement {
    position: relative;
	/* /!\ Position � param�trer directement dans le HTML en fonction de la taille du logo de l'�tablissement  */
	/* Voir le fichier "InsideHomePage.html" dans le package "org.fydji.portal" */
}

/**** Zones services ****/
#services {
    position: relative;
	margin:0px auto 6px auto;
	width: 600px;
	overflow:hidden;
	background:transparent url('portal/images/laf_ent/fdblocs.gif') repeat-x 250px 0px;
}

#services .fdGris{
	background-color:#F9F9FA;
}

h1.titreService{
	padding:0;
	margin:10px 0 0;
	background:transparent url('portal/images/laf_ent/puce.gif') no-repeat left 2px;
	text-indent: 30px;
	font-size: 21px;
	font: normal 18px "Trebuchet MS", sans-serif;
	text-align: left;
}

a#bouton{
	width:96px;
	height:92px;
	display: block;
	background:transparent url('portal/images/laf_ent/fdbouton.gif') no-repeat 0 -184px;/*Passer � -92px pour faire appara�tre cadre m�me en �tat non hover. Sinon -192px.*/
	float: left;
	text-align:center;
	vertical-align: middle;
	padding: 0px;
	text-decoration:none;
	font:bold 10px Arial, sans-serif;
	color:#666;
	line-height:10px;
	outline: none;
}

a#bouton img {
	margin: 10px 0px 0px 0px;
}

/*  /!\  Si le texte passe sur 2 lignes utiliser cette classe sur la balise <img> de l'icone */
a#bouton img.deuxLignes{
	margin-top: 5px 0px 0px 0px;
}

/*    
    a#bouton{
    	text-decoration:none;
    	font:bold 10px Arial, sans-serif;
    	color:#666;
    	line-height:10px;
    }
    
    a#bouton:hover{
    	color:#222;
    	font-size:11px;
    }
*/

a#bouton:hover{
	background: transparent url('portal/images/laf_ent/fdbouton.gif') no-repeat 0 0;
	cursor: pointer;
	color: #222;
	font-size: 11px;
}

