h1 {
    margin: 15px;
    font-family: inherit;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: inherit;
}

h2.doc_title {

}

p img {
    float: none;
    margin: 0px 0px 0px 0px;

}

textarea {
    height: auto;
    width: auto;
}

.label {
    color: #3F61A0;
    font-weight: bold;
    font-size: 1em;
    text-align: right;
    vertical-align: top;
}

.portal-form_container table {
    border: 0;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.portal-form_container td {
    border: 0;
}

table table, table table td {
    margin: 0;
    padding: 0;
}

.portal-form_container table table {
    width: 100%;
}

.portal-form_container select{
	width: 20em;
}

/*******************************************************************************

Custom logo and menu styles

********************************************************************************/
#logo {
    background-image: url("../../images/eliot/tdbase.png");
    background-repeat: no-repeat;
    padding-left: 62px;
    font-size: 2.5em;
    font-family: Georgia, Times, serif;
    vertical-align: middle;
    line-height: 54px;
    height: 64px;
    width: auto;
    text-align: left;
    color: #244A92;
}

.portal-menu {
    font-size: 1.1em;
}

/*******************************************************************************

styles for TDBase tables

********************************************************************************/
/*div.portal-default_table {*/
/*border:0;*/
/*padding-top:15px;	*/
/*}*/

div.portal-default_table tr {
    height: 10px;
}

div.portal-default_table table {
    color: #555;
    border: 2px solid #728CBD;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    font-size: 11px;
}

div.tdbase_layout_table table {
    border: 0;
    padding: 2px;
    margin: 2px;
}

div.tdbase_layout_table td {
    border: 0;
}

td.insider_label {
    text-align: right;
    background-color: #F3F6FB;
    color: #3F61A0;
    width: 50px;
    padding-bottom: 2px;
}

td.inspect_field {
    text-align: left;
    background-color: #F3F6FB;
    color: #3F61A0;
    padding-bottom: 2px;
}

td.ERXMatrixTableCell {
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    width: 95%;
    line-height: 1;
}

table.ERXMatrixTable {
    border: none;
    margin: 0px;
    width: 100%;
}

table.ERXMatrixTable tbody tr td {
    border: none;
    margin: 0px;
    padding-bottom: 0px;
    text-align: left;
}

/*******************************************************************************

styles for TDBase drag and drop operations

********************************************************************************/

div.item_reordering_droparea {
    clear: both;
    border: 1px solid #728CBD;
    background-color: white;
    padding: 2px;
    width: 780px;
    margin-top: 10px
}

div.item_reordering_droparea_active {
    background-color: #728CBD;
}

/*******************************************************************************

Style for the graphic match interaction :

********************************************************************************/

div.gmactive {
    background-color: #728CBD;
}

div.gmdropArea {
    background-color: #F3F6FB;
    width: inherit;
    height: inherit;
    font-size: x-small;
}

span.gmdroppableItem {
    background-color: white;
    margin-right: 10px;
    margin-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: x-small;
}

.reorderableItem {
    background-color: white;
    margin: 10px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 2px;
    padding-right: 2px;
    font-size: x-small;
    cursor: move;
}

/*******************************************************************************

Style for the association interaction :

********************************************************************************/

div.association_droparea {
    clear: both;
    border: 1px solid #F3F6FB;
    background-color: white;
    height: 30px;
    width: 200px;
    margin-top: 5px;
    text-align: center;
}

div.association_droparea_active {
    background-color: #728CBD;
}

div.filledArea {
    clear: both;
    border: 1px solid #E8A400;
    background-color: white;
    width: 200px;
    margin-top: 5px;
    padding-top: 7px;
    padding-bottom: 7px;
    text-align: center;
}

.portal-form_container_large {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #728CBD;
}

/*******************************************************************************

Style for main page :

********************************************************************************/
.left-column {
    background: rgb(203, 219, 234);
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #153E7E;
}

.left-column ul li {
    color: #153E7E;
}

.center-column {
    background: #f5fffa;
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #153E7E;
}

.right-column {
    color: #153E7E;
    background: rgb(203, 219, 234);
    margin-top: 10px;
    padding: 5px;
    border: 1px solid #153E7E;
}

.app-name {
    font-weight: bold;
    color: #153E7E;
    font-family: Arial, Sans-Serif;
    font-size: xx-large;
    font-style: italic;
}

/*******************************************************************************
Style custom eliot-tdbase
@author franck silvestre
*******************************************************************************/

.tdbase-sujet-liste-elements{
    margin: 0 10px;
    padding: 10px;
    /*border: 1px solid #ec8e0c;*/
    width: 24%;
    float: right;
    background-color: #fbffd9;
    
    /*-moz-box-shadow:0px 0px 8px #bababa;
	-webkit-box-shadow:0px 0px 8px #bababa;
	box-shadow:0px 0px 8px #bababa;*/
	/*IE DOES NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	/*IE DOES NOT SUPPORT BORDER RADIUS*/
}
	.tdbase-sujet-liste-elements h4{
		margin: 0 10px;
		padding:5px 0 7px;
		border-bottom: 1px solid #ec8e0c;
		color: #ec8e0c;
		background:  url("../../images/eliot/picto-sujet.png") no-repeat 100% 0;
		
		-moz-box-shadow:0px 1px 0px #fff;
		-webkit-box-shadow:0px 1px 0px #fff;
		box-shadow:0px 1px 0px #fff;
		/*IE DOES NOT SUPPORT BLUR PROPERTY OF SHADOWS*/
	}
	.tdbase-sujet-liste-elements ul{padding: 10px;}
		.tdbase-sujet-liste-elements li{
			background: url("../../images/eliot/picto-question.png") no-repeat 0 50%;
			padding: 8px 0 8px 28px;
			margin-top:4px;
			margin-left: 0;
			list-style-type: none;
			border-top: 1px dotted #ccc;
			font-size: 1.05em;
		}
			.tdbase-sujet-liste-elements li:first-child{border: none;}

.tdbase-sujet-edition-question {
    margin: 5px;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #728CBD;
}

.tdbase-sujet-edition-question-boutons {
    text-align: right;
    margin-top: 3px;
}

.tdbase-sujet-edition-question-points {
    margin-top: 3px;
    margin-right: auto;
    margin-left: auto;
    width: 0%;
}

.tdbase-sujet-edition-question-preview {
    /*background-color: #F3F6FB;*/
    padding: 20px 0 10px 30px;
    margin:8px 0;
    border-top: 1px dotted #ccc;
}

.tdbase-sujet-edition-question-interaction {
    background-color: #F3F6FB;
    padding: 3px;
}

.tdbase-sujet-titre {
    text-align: center;
    padding: 20px;
}

.tdbase-menu-actions {
    display: none;
    text-align: left;
    position: absolute;
    z-index: 100;
    background-color: white;
    padding: 10px;
    border: 1px solid #ec8e0c;
    min-width: 120px;
}

.tdbase-menu-actions li {
    list-style: none;
    margin-left: 0;
    padding: 1px 0;
	font-style: italic;
	color: #ccc;
}
	.tdbase-menu-actions li a{
	font-weight: normal;
	font-style: normal;
}
	.tdbase-menu-actions li a:hover {color: #ec8e0c;}
	.tdbase-menu-actions hr{border: none;border-top: 1px dotted #ccc;}
	
.editinplace {
    float: left;
    height: 23px;
    line-height: 200%;
    border: 1px dotted #ccc;
 	background-color: #fff;
    width: 5em;
    text-align: center;
    color: #ec8e0c;
}

.editinplace input {
    width: 5em;
    padding: 0;padding: 0.3em 0; line-height: 100%;
    margin: 0;
    border: none;
}



/*******************************************************************************
styles for TDBase results list
@author Stéphane SIGUR
********************************************************************************/
div.portal-default_results-list{margin-bottom: 50px;}
div.portal-default_results-list .even{background-color: #f7f7f7;}

div.portal-default_results-list>div{
	padding:5px 0 15px;
	margin: 0 10px;
	overflow: hidden;
	border-bottom: 1px solid #e5e5e5;
}
	div.portal-default_results-list>div:first-child{
		border-top: 1px solid #e5e5e5;
	}
	div.portal-default_results-list>div button{
		position: absolute;
		margin-right: 10px;
		right: 15px;
		margin-top: 1px;
	}
		div.portal-default_results-list .tdbase-menu-actions{
			margin-top: 2px;
			margin-left: -97px;
		}
			div.portal-default_results-list .tdbase-menu-actions.top{margin-top: -22px;}
			
div.portal-default_results-list h1{
	padding-left: 30px;
	padding-top: 2px;
	padding-bottom: 4px;
	margin-top: 6px;
	margin-bottom: 10px;
	/*border-bottom: 1px dotted #ccc;	color: #555;*/

	font-size: 1.4em;
}
	div.portal-default_results-list.sujet h1{background: url("../../images/eliot/picto-sujet.png") no-repeat 0 0;}
	div.portal-default_results-list.question h1{background: url("../../images/eliot/picto-question.png") no-repeat 0 2px;}

div.portal-default_results-list .feature{
	/*margin-left: 33px;*/
	margin-top: -8px;
	border-top:1px dotted rgb(203, 219, 234);
}
div.portal-default_results-list .feature li{
	padding: 2px 20px 2px 0;
	margin: 2px 0;
	display: block;
	text-align: left;
	float: left;
	min-width: 10em;

}
	div.portal-default_results-list .feature li strong{
		margin:0 10px;
		color: #728CBD;
	}



/*******************************************************************************

Style for the edition of a document or category (ToolBar)

********************************************************************************/
.portal-tabs {
    background-color:whiteSmoke;
    color: #999999;
    border: none;
    
    text-align:right;
    margin: 25px 10px 0px;
        
    -moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	/*IE DOES NOT SUPPORT BORDER RADIUS*/
}

.portal-tabs a {margin-left: 10px;}
	.portal-tabs a:hover{
		color: #ec8e0c;
	}

	.portal-tabs a:first-child{margin-left: 0;}
	.portal-tabs a.add{
		padding: 4px 4px 4px 20px;
		background: url("../../images/eliot/picto-add.png") no-repeat 0 4px;
	}
		.portal-tabs a.add:hover{background-position: 0 -22px;}
	
	.portal-tabs a.modify{
		padding: 4px 4px 4px 20px;
		background: url("../../images/eliot/picto-modif.png") no-repeat 0 4px;
	}
		.portal-tabs a.modify:hover{background-position: 0 -22px;}

/*******************************************************************************

Style for the edition of a document or category (Content)

********************************************************************************/		
.edite.portal-form_container{margin: 30px 20px;border: none;width: 100%;}

.recherche.portal-form_container{
	padding: 10px 0;
}
	.recherche.portal-form_container>table{margin: 10px 0;}
	.recherche.portal-form_container {
	    width:70%;
	    margin-left:10px;
	    margin-right:auto;
	   
	   background-color:whiteSmoke;background: #fdf5ce;
	   color: #999999;
	   border: none;
	        
	    -moz-border-radius:6px;
		-webkit-border-radius:6px;
		border-radius:6px;
		/*IE DOES NOT SUPPORT BORDER RADIUS*/
	}

.recherche.form_actions {
    background: none;
    border: none;
    border-top-width: 0;
    color: #3F61A0;
    font-family: "Lucida Sans Unicode", "Lucida Sans", verdana, arial,helvetica;
    padding-top:0.5em;
    padding-bottom:0.5em;
    margin-left:10px;
    margin-right:auto;
    text-align: right;
    width:70%;
}

.recherche.portal-form_container input[type=text]{
	width: 200px;
}

.portal-form_container .title{
	font-size: 1.6em;
	margin-right: 5px;
	padding:0 0 4px 30px;
	background: url("../../images/eliot/picto-sujet.png") no-repeat 0 0;
	font-weight: bold;
	color: #3F61A0;
}
.portal-form_container input[type=text]{
	border: 1px solid #ccc;
	padding: 5px 2px;
	margin-top: -2px;
}
.portal-form_container input[type=submit]{margin-top: -3px;margin-left: 10px;}

.button{      
    padding: 5px 12px 6px;
    border: 1px solid #CCC;
	background: whiteSmoke;
	color: #333;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
	text-transform: uppercase;
	color: #ec8e0c;
}

.button:hover{
	border: 1px solid #fbcb09; background: #fdf5ce;
    color: #ec8e0c;
    cursor: pointer;
}

.tdbase-sujet-edition{margin-bottom: 50px;}
.tdbase-sujet-edition-question{
	padding:30px 10px 15px;
	margin-bottom: -1px;
	margin: 0 10px 10px;
	overflow: hidden;
	border: none;
	background:#f7f7f7 url("../../images/eliot/picto-question.png") no-repeat 8px 10px;
}
	.tdbase-sujet-edition-question button{
		position: absolute;
		margin: -24px 10px 0 0;
		left: 50px;
		float: right;
	}
		.tdbase-sujet-edition-question .tdbase-menu-actions{margin-top: 2px;}
		.tdbase-sujet-edition-question .tdbase-menu-actions.top{margin-top: -22px;}
	
.tdbase-sujet-edition-question .tdbase-sujet-edition-question-points{
	position: absolute;
	margin-top: -23px;
	left: 120px;
}
	.tdbase-sujet-edition-question .tdbase-sujet-edition-question-points .point{
		font-weight: bold;
		margin: 5px;
		text-indent: 6px;
		display: block;
		color: #666;
	}
	
.tdbase-sujet-edition-question .item{margin-left:0px}
	.tdbase-sujet-edition-question .item .title{
		color: #3F61A0;
		font-size: 1.0em;
	}