.fillGapTextContainer {
    position: relative;
    width: 500px;
}

.gapText {
    width: 500px;
   /* display: inline-block;   */
}

.dropZone {
    border: solid 1px #808080;
    background: rgba(245, 245, 245, 0.9);
    padding-left: 5px;
    padding-right: 5px;
}

.textElement {
    /*float: left;*/
    margin: 0;
    padding: 7px  5px 7px 5px;
    /*display: inline-block; */
}

.gapElement {
   /* float: left;  */
}

.highlighted {
    background: rgba(181, 189, 255, 0.9);
}

.unHighlighted {
    background: rgba(245, 245, 245, 0.9);
}

.gapWords {
    display: none;
}

.gapWordsList {
    width: 492px;
    display: inline-block;
    border: solid 1px #808080;
}

.gapWord {
    list-style: none;
    border: solid 1px #FFD324;
    background: #FFF6BF;
    color: #817134;
    margin: 5px;
    float: left;
}