.fillGapTextContainer {
    position: relative;
}

.textElement{
    line-height: 30px;
}

.dropZone {
    border: solid 1px #808080;
    background: rgba(245, 245, 245, 0.9);
    padding: 5px;
}

.highlighted {
    background: rgba(181, 189, 255, 0.9);
}

.unHighlighted {
    background: rgba(245, 245, 245, 0.9);
}

.gapWords {
    display: none;
}

.gapWordsList {
    list-style-type: none;
    width: 492px;
    height: 100px;
    border: solid 1px #808080;
}

.gapWord {
    list-style: none;
    border: solid 1px #FFD324;
    background: #FFF6BF;
    color: #817134;
    margin: 5px;
    float: left;
}