<plugin name='eliot-textes-plugin' version='0.5-SNAPSHOT' grailsVersion='2.0.1 &gt; *'>
  <author>Franck Silvestre - Fylab</author>
  <title>Eliot Textes  Plugin</title>
  <description>Plugin contenant les services métiers relatifs au cahier de textes"
</description>
  <type>EliotTextesPluginGrailsPlugin</type>
  <resources>
    <resource>org.lilie.services.eliot.tice.textes.Activite</resource>
    <resource>org.lilie.services.eliot.tice.textes.CahierDeTextes</resource>
    <resource>org.lilie.services.eliot.tice.textes.CahierDeTextesCopieInfo</resource>
    <resource>org.lilie.services.eliot.tice.textes.Chapitre</resource>
    <resource>org.lilie.services.eliot.tice.textes.ContexteActivite</resource>
    <resource>org.lilie.services.eliot.tice.textes.DateActivite</resource>
    <resource>org.lilie.services.eliot.tice.textes.Dossier</resource>
    <resource>org.lilie.services.eliot.tice.textes.EtatChapitre</resource>
    <resource>org.lilie.services.eliot.tice.textes.EtatDossier</resource>
    <resource>org.lilie.services.eliot.tice.textes.Fichier</resource>
    <resource>org.lilie.services.eliot.tice.textes.RelActiviteActeur</resource>
    <resource>org.lilie.services.eliot.tice.textes.RelCahierActeur</resource>
    <resource>org.lilie.services.eliot.tice.textes.RelCahierGroupe</resource>
    <resource>org.lilie.services.eliot.tice.textes.RelDossierAutorisationCahier</resource>
    <resource>org.lilie.services.eliot.tice.textes.Ressource</resource>
    <resource>org.lilie.services.eliot.tice.textes.TextesPreferencesUtilisateur</resource>
    <resource>org.lilie.services.eliot.tice.textes.TypeActivite</resource>
    <resource>org.lilie.services.eliot.tice.textes.Visa</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='http://www.ticetime.com/nexus/content/repositories/snapshots/' url='http://www.ticetime.com/nexus/content/repositories/snapshots/' />
    <repository name='http://www.ticetime.com/nexus/content/repositories/releases/' url='http://www.ticetime.com/nexus/content/repositories/releases/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
    <repository name='http://download.java.net/maven/2/' url='http://download.java.net/maven/2/' />
  </repositories>
  <dependencies>
    <compile>
      <dependency group='net.sourceforge.saxon' name='saxon' version='9.1.0.8' />
    </compile>
    <runtime>
      <dependency group='postgresql' name='postgresql' version='8.4-702.jdbc4' />
    </runtime>
    <build>
      <dependency group='net.sourceforge.saxon' name='saxon' version='9.1.0.8' />
      <dependency group='net.sf.saxon' name='saxon-dom' version='8.7' />
    </build>
  </dependencies>
  <plugins>
    <compile>
      <plugin group='org.grails.plugins' name='resources' version='1.1.5' />
      <plugin group='org.grails.plugins' name='gmetrics' version='0.3.1' />
      <plugin group='org.grails.plugins' name='mail' version='1.0' />
      <plugin group='org.grails.plugins' name='hibernate' version='2.0.1' />
      <plugin group='org.grails.plugins' name='jquery-ui' version='1.8.15' />
      <plugin group='org.grails.plugins' name='jquery' version='1.7.1' />
      <plugin group='org.grails.plugins' name='codenarc' version='0.15' />
    </compile>
    <runtime>
      <plugin group='org.grails.plugins' name='modernizr' version='2.0.6' />
      <plugin group='org.grails.plugins' name='svn' version='1.0.1' />
    </runtime>
    <build>
      <plugin group='org.grails.plugins' name='tomcat' version='2.0.1' />
      <plugin group='org.grails.plugins' name='release' version='1.0.0' />
    </build>
  </plugins>
  <runtimePluginRequirements />
  <behavior />
</plugin>