/* Hints use during developpement only
.container .column { 
    border-bottom: 1px solid red;
}
*/

/*******************************************************************************

Common global styles

********************************************************************************/
body {
    margin: 0;
    color: #333;
    background-color: #DCDDE2;
    padding: 0;
    text-align: center;
    font-family: "Lucida Grande", "Verdana", "Arial", "Sans-Serif";
    font-size: 70%;
}

/* AS/olds:
font-family: "verdana", "arial", "sans-serif", "helvetica";
font-family: "Lucida Sans Unicode", "Lucida Sans", "verdana", "arial","helvetica";
*/

a {
    text-decoration: none;
    color: #244A92;
}

a:hover {
    text-decoration: underline;
    color: #244A92;
}

.container {
    text-align: left;
    padding-top: 0;
    border: 1px solid #8F8F8F;
    background-color: white;
}

.footer-container {
    padding: 2em;
    padding-top: 0;
}

p {
    margin: 0pt 0pt 1em;
}

dl, dt, dd, ul, li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul {
    padding: 0.3em;
}

ul li {
    list-style-type: disc;
    margin-left: 2em;
}

ol li {
    list-style-type: decimal;
    margin-left: 2em;
}

h1, h2, h3, h4, h5, h6 {
    color: #3F61A0;
    margin-bottom: 0em;
}

h1 {
    font-size: 1.7em;
    font-family: "Georgia", "Times New Roman", Times, serif;
}

/* AS/old:
font-size: 1.8em;
*/

h2 {
    font-size: 1.5em;
}

h4 {
    font-size: 1.25em;
}

img {
    margin-bottom: 0;
}

em {
    background-color: transparent;
}

.separator {
    border-color: #C4C4C4;
    border-style: dotted none none;
    border-width: 1px 0pt 0pt;
    height: 1px;
    margin: 6px 0px;
    width: 100%;
}

/*******************************************************************************

Portal Messages styles

********************************************************************************/
.portal-messages {
    margin-bottom: 4px;
    margin-top: 4px;
    padding: 0;
}

.portal-messages ul {
    padding: 0;
    margin: 0;
}

.portal-messages li {
    list-style-type: none;
    padding: 3px;
    margin: 3px;
}

.portal-messages .notice {
    background-color: transparent;
    color: #817134;
    border: solid 1px #FFD324;
    background-image: url('../../images/eliot/ico12/info.gif');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding: 5px 25px;
}

.portal-messages .error {
    background-color: transparent;
    color: #D12F19;
    border: solid 1px #FBC2C4;
    background-image: url('../../images/eliot/ico12/warning.gif');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    padding: 5px 25px;
}

.portal-messages .success {
    /**background: #E6EFC2; */
    background-color: transparent;
    background-image: url('../../images/eliot/ico12/ok.gif');
    background-repeat: no-repeat;
    background-position: 5px 5px;
    color: #529214;
    border: solid 1px #C6D880;
    padding: 5px 25px;
}

.notice .notice, .error .error, .success .success {
    border: 0;
    background-color: transparent;
    background-image: none;
}

/*******************************************************************************

Common helper styles

********************************************************************************/
.reset-border {
    border: 0;
}

.valign-middle {
    vertical-align: middle;
}

.valign-top {
    vertical-align: top;
}

.valign-bottom {
    vertical-align: bottom;
}

/*******************************************************************************

Styles for the header

********************************************************************************/

.portal-logo {
    margin: 0;
    margin-top: 14px;
}

#logo {
    height: 54px;
    width: 164px;
    background: no-repeat left url('../../images/eliot/logo.gif');
    text-align: right;
    float: left;
}

/*******************************************************************************

Styles for the footer

********************************************************************************/

#portal-footer {
    position: relative;
    top: 4em;
    text-align: center;
    margin-top: 1em;
    font-size: 0.9em;
}

/*******************************************************************************

Style for the  contextual menus :

********************************************************************************/

.portal-context_menu {
    width: 100%;
    height: 100%;
    text-align: left;
}

.portal-context_menu h2 {
    color: #3F61A0;
    font-weight: bold;
    letter-spacing: 0.1em;
    font-size: 1.1em;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    line-height: 1.5;
}

.portal-context_menu p.date {
    color: #999;
}

.portal-context_menu  ul, .portal-context_menu  li {
    margin: 0pt;
    padding: 0pt;
    list-style-type: none;
}

.portal-context_menu  ul ul {
    border-top: 1px solid rgb(222, 228, 218);
    /**margin: 1em 0pt 1.5em;*/
}

.portal-context_menu  ul ul li {
    border-bottom: 1px solid rgb(222, 228, 218);
    padding: 0pt 0pt 0pt 10px;
}

.portal-context_menu  .cat {
    /**color: #244A92;*/
    background: transparent url('../../images/eliot/interface/picto_2fl_blue.gif') no-repeat;
    background-position: 2px 8px;
}

.portal-context_menu  ul ul li a {
    margin: 0pt 0pt 0pt -10px;
    padding: 2px 10px;
    display: block;
    text-decoration: none;
    /**color: #6EA666;*/
}

.portal-context_menu  ul ul li.cat a:hover {
    background: #F2F3F7 url('../../images/eliot/interface/picto_2fl_blue.gif') no-repeat;
    background-position: 2px 8px;
    scroll: right center;
}

.portal-context_menu  ul ul li a:hover {
    background-color: #F2F3F7;
    text-decoration: none;
    /**color: #6EA666;*/
}

/*.sidebar ul ul ul li a{ border: none; display: block; margin: 0 0 0 0; color:#999; }*/
.portal-context_menu  ul ul li.niv2 a {
    margin: 0 0 0 2px;
    padding: 2px 10px;
    color: #666;
}

.portal-context_menu  ul ul li.actif {
    background-color: #F2F3F7;
    margin: 0 0 0 2px;
    padding: 2px 10px;
}

.portal-context_menu  ul ul li.actif a {
    color: rgb(92, 92, 92);
}

/*******************************************************************************

Style for the  breadcrumbs :

********************************************************************************/

.portal-breadcrumbs {
    padding: 10px;
    margin-bottom: 4px;
    margin-top: 4px;
    text-align: left;
    line-height: 0.5;
    font-weight: bold !important;
}

.portal-bc-separator {
    font-weight: normal;
}

/*******************************************************************************

Style for the RSS link box :

********************************************************************************/

.portal-rss {
    padding-right: 0px;
    margin: auto;
    margin-top: 14px;
}

/*******************************************************************************

Style for the search

********************************************************************************/
.portal-search_box {
    text-align: right;
}

/*******************************************************************************

Style for the content

********************************************************************************/

#portal-content {
    text-align: left;
    height: 500px; /** POUR IE 6 */
    padding: 1em;
}

/** OVERRIDE pour les autres navigateurs, IE 6 n'y capte rien */
html>body #portal-content {
    min-height: 500px;
    height: auto;
}

.portal-paragraph {
    width: 100%;
    /** magie !*/
    display: table;
    border-bottom: 2px dotted #C4C4C4;
    padding-bottom: 0.5em;
    margin-bottom: 2em;
    text-align: left;
}

.portal-paragraph .date {
    margin: 0;
    padding: 0;
    color: #999999;
    font-size: 0.9em;
    margin-top: -0.15em;
}

.portal-paragraph img {
    margin-right: 1em;
    margin-bottom: 1em;
}

.portal-paragraph .comments {
    margin-top: 12px;
}

.portal-file_paragraph {
    padding-bottom: 0;
    padding-top: 0.5em;
}

.portal-file_paragraph img {
    float: left;
    width: 48px;
    height: 48px;
}

.portal-search_paragraph {
    margin-top: 0.5em;
}

.portal-search_paragraph img {
    float: left;
    padding-right: 0.25em;
    width: 24px;
    height: 24px
}

.portal-search_paragraph i {
    color: #6ea666;
}

.portal-discussion .no_comment {
    padding: 1em;
}

.portal-discussion .comment {
    border-bottom: 1px dotted #ECECEC;
    border-top: 1px dotted #ECECEC;
    padding: 1em;
    margin: 0;
}

.comment h3 {
    margin: 0;
    padding-left: 1.3em;
    color: #333333;
    font-size: 0.9em;
    font-style: oblique;
    font-weight: bold;
    display: inline;
    line-height: 22px;
}

.comment .hidden h3 {
    background-image: url('../../images/eliot/ico12/comment-hidden.gif');
    background-repeat: no-repeat;
    background-position: left center;
    color: #8F8F8F;
}

.comment .visible h3 {
    background-image: url('../../images/eliot/ico12/comment.gif');
    background-repeat: no-repeat;
    background-position: left center;
}

.comment h3 .date {
    color: #6F6F6F;
    font-weight: normal;
    font-size: inherit;
}

.comment .hidden h3 .date {
    color: #8F8F8F;
}

.comment .actions {
    float: right;
}

.comment .header {
    background-color: #F2F3F7;
    vertical-align: baseline;
    height: 22px;
}

.comment .new {
}

.flag {
    margin-left: 2em;
    margin-bottom: 1em;
}

.comment p.author {
    border-left: 5px solid #728cbd;
    padding-left: 0.7em;
}

.add_comment {
    /*  border-top: 3px dotted #ECECEC; */
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.add_comment textarea {
    width: 100%;
    height: 15em;
}

/*******************************************************************************

Style for the explorateur component

********************************************************************************/
.portal-explorateur {
    color: #555;
    border: 2px solid #728CBD;
    border-collapse: collapse;
    margin: auto;
}

.portal-explorateur tr {
    border-bottom: 1px solid #DDDDDD;
}

.portal-explorateur td, .portal-explorateur th {
    line-height: 0.5;
    margin: 0;
    padding: 0.5em;
    vertical-align: middle;
}

.portal-explorateur th {
    border-bottom: 2px solid #728CBD;
}

.portal-explorateur th img {
    vertical-align: middle;
}

.portal-explorateur .toolbar {
    border-bottom: 1px solid #728CBD;
    border-top: 1px solid #728CBD;
    padding-left: 0.5em;
    padding-top: 0.5em;
    padding-bottom: 0;
    padding-right: 0.5em;
}

td.edit {
    padding-right: 0.5em;
    text-align: right;
    vertical-align: middle;
}

.file img, .file input {
    vertical-align: middle
}

.file:hover, .file:hover {
    /**background-color:#ECECEC;*/
}

a.action img {
    border: 1px solid #999999;
    border-top-color: #CCCCCC;
    border-left-color: #CCCCCC;
}

a.action:hover img {
    border-color: #888888;
}

span.action img {
    border: 1px solid #EEEEEE;
}

.large img {
    padding: 2px;
    margin-top: 2px
}

.small img {
    padding: 1px;
}

/*******************************************************************************

Style for the edition of a document or category

********************************************************************************/
.portal-tabs {
    background-color: #E0E4EB;
    border: 1px solid #728CBD;
    color: #999999;
    padding: 0.5em;
    text-align: right;
    margin-bottom: 4px;
    margin-top: 4px;
}

.portal-tabs a {
    color: #3F61A0;
}

span.portal-tabs-famille-liens {
    padding-left: 15px;
    padding-right: 15px;
}

.portal-tab_content {
    border: 1px solid #728CBD;
    padding: 1em;
}

/*******************************************************************************

Style for forms :

********************************************************************************/

.portal-form_container {
    width: 70%;
    margin-left: 15px;
    margin-right: auto;
    border: 1px solid #728CBD;
}

.small-portal-form_container {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #728CBD;
}

.portal-form_table {
    border: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

.portal-form_table td {
    border: 0;
}

.portal-form_table .label {
    text-align: right;
    vertical-align: top;
}

label {
    color: #3F61A0;
    font-weight: bold;
    font-size: 1em;
}

textarea, input, select {
    color: #111111;
    background-color: white;
    font-family: inherit;
    font-size: 1em;
    vertical-align: middle;
}

select[disabled="disabled"] {
    background-color: #efefef;
}

.portal-actions {
    margin-top: 0.5em;
    background-color: #E0E4EB;
    border: 1px solid #728CBD;
    color: #3F61A0;
    padding: 0.5em;
    text-align: right;
}

.form_input_fields input, .form_actions input {
    width: auto;
    font-family: verdana, "Lucida Sans Unicode", "Lucida Sans", arial, helvetica;
    font-size: 11px;
    font-weight: normal;
    color: #444444;
}

.form_input_fields input.formInputButton, .form_actions input.formInputButton, input.formInputButton {
    font-size: 12px;
    color: black;
}

.form_input_fields input [type="text"], input.formInputText {
    width: auto;
    font-family: verdana, "Lucida Sans Unicode", "Lucida Sans", arial, helvetica;
    font-size: 11px;
    color: #444444;
}

.form_input_fields select {
    font-family: verdana, "Lucida Sans Unicode", "Lucida Sans", arial, helvetica;
    font-size: 11px;
    color: #444444;
}

.form_input_fields input [type="radio"] {
    width: auto;
}

.form_actions {
    background-color: #E0E4EB;
    border: 1px solid #728CBD;
    border-top-width: 0;
    color: #3F61A0;
    font-family: "Lucida Sans Unicode", "Lucida Sans", verdana, arial, helvetica;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    margin-left: 15px;
    margin-right: auto;
    text-align: right;
    width: 70%;
}

/*******************************************************************************

Style for the search actor or group component  :

********************************************************************************/
.portal-searchlist td:hover, .portal-searchlist td a:hover {
    background-color: #B5D5FF;
}

.portal-searchlist .sub_entry {
    font-weight: normal;
    font-size: 0.9em;
}

.portal-searchlist .head_entry {
    font-weight: bold;
}

/*******************************************************************************

Styles for the login page :

********************************************************************************/
#portal-login {
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #728CBD;
    margin-bottom: 0;
}

#portal-login th {
    color: #728CBD;
    font-weight: bold;
    border-bottom: 2px solid #728CBD;
}

#portal-login .portal-form_table {
    margin: 0;
    padding: 0;
}

#portal-login .login_form {
    width: 100%;
    margin: 0;
    padding: 0;
}

#portal-login .login_form tr {
    background-color: #E1E2E6;
}

#portal-login .warning_message {
    color: red;
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

/*******************************************************************************

Styles for the error pages :

********************************************************************************/
#portal-error {
}

#portal-error .portal-error_message {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #728CBD;
    padding: 4em;
    margin-bottom: 0;
}

#portal-error .portal-error_message textarea {
    width: 100%;
    height: 150px;
}

#portal-error .portal-actions {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-right: 4em;
    padding-left: 4em;
    margin-top: 0;
    width: 70%;
}

#portal-error img {
    margin-right: 1em;
}

/*******************************************************************************

Style for tables in class  :

********************************************************************************/

.portal-default_table {
    color: #555;
    border: 1px solid #728CBD;
    border-collapse: collapse;
    width: 100%;
    margin: auto;
    font-size: 11px;
}

.portal-default_table thead {
    border: 1px solid #728CBD;
    color: #3F61A0;
    font-family: "Lucida Sans Unicode", "Lucida Sans", verdana, arial, helvetica;
    text-align: center;
}

.portal-default_table tfoot {
    background-color: #E0E4EB;
    border: 1px solid #728CBD;
    color: #3F61A0;
    font-family: "Lucida Sans Unicode", "Lucida Sans", verdana, arial, helvetica;
}

.portal-default_table tbody {
    background-color: #FFFFFF;
    border: 1px solid #6495ed;
    font-family: "Lucida Sans Unicode", "Lucida Sans", verdana, arial, helvetica;
}

.portal-default_table thead th {
    border: 1px solid #728CBD;
    padding: 5px;
    background-color: #D7DCE7;
    font-family: "Lucida Sans Unicode", "Lucida Sans", verdana, arial, helvetica;
    text-align: center;
}

.portal-default_table th {
    border: 1px solid #728CBD;
    padding: 5px;
    font-family: "Lucida Sans Unicode", "Lucida Sans", verdana, arial, helvetica;
    font-size: 11px;
    width: auto;
    text-align: center;
}

.portal-default_table td {
    font-size: 11px;
    border: 1px solid #728CBD;
    padding: 5px;
    text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Sans", verdana, arial, helvetica;
    vertical-align: top;
}

tr.ligne2, tr.odd {
    background-color: #F3F6FB;
}

.portal-default_table tr.sep {
    height: 2px;
}

.portal-default_table tr.sep td {
    padding: 0px;
}

.portal-default_table caption {
    text-align: left;
    color: #3F61A0;
    font-size: 12px;
    margin-top: 6px;
    background-color: transparent;
}

.portal-default_table caption img {
    vertical-align: top;
}

/*******************************************************************************

Styles relatives to pagination in tables 

********************************************************************************/
.portal_pagination {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.portal_pagination .nb_result {
    text-align: left;
    text-indent: 10px;
}

a.prevLink {
    border: solid 1px #b3bdd1; /* #d7dce7; */
    padding: 1px;
    margin: 1px;
    text-decoration: none;
}

a.nextLink {
    border: solid 1px #b3bdd1; /* #d7dce7; */
    padding: 1px;
    margin: 1px;
    text-decoration: none;
}

a.step {
    border: solid 1px #b3bdd1; /* #d7dce7; */
    padding: 1px;
    margin: 1px;
    text-decoration: none;
}

a.prevLink:hover {
    background: #d7dce7;
    text-decoration: none;
}

a.nextLink:hover {
    background: #d7dce7;
    text-decoration: none;
}

a.step:hover {
    background: #d7dce7;
    text-decoration: none;
}

span.currentStep {
    border: solid 1px #b3bdd1;
    background: #d7dce7;
    text-decoration: none;
    padding: 1px;
    margin: 1px;
}

/*******************************************************************************

Styles relatives to manuel

********************************************************************************/

a.portal-manuel {
    background-image: url('../../images/eliot/aide/aideContextuelle.png');
    background-repeat: no-repeat;
    background-position: left center;
    float: right;
    text-align: center;
    padding-top: 10px;
    padding-right: 5px;
    padding-left: 15px;
    display: block;
}

a.portal-manuel:hover {
   text-decoration: none;
}